.fade-img {
  object-fit: contain;
  border-radius: 10px;
  max-height: 250px;
  margin-top: 70px;
  background-color: white;
}

.tagline {
  padding-bottom: 0px;
  align-self: center;
  margin-top: -40px;
  margin-bottom: -15px;
  background-color: white;
}

.fade-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: white;
}

.fade-container::-webkit-scrollbar {
  display: none;
}

.about {
  padding: 10px;
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 300;
  background-color: white;
}

.title {
  height: 12%;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -30px;
  margin-bottom: -18px;
  background-color: white;
}

.description {
  display: flex;
  height: 50%;
  overflow-y: scroll;
  padding: 15px;
  margin-top: -40px;
  margin-bottom: -30px;
  font-size: 14px;
  background-color: white;
}

.rating {
  text-align: center;
  font-size: 15px;
  margin-top: 0;
  font-weight: 600;
  background-color: white;
}

.modal {
  display: "flex";
  align-items: center;
  justify-content: center;
}

.paper {
  width: 100%;
  height: 100%;
  color: black;
}
.fade-header {
  text-align: left;
  font-size: 25px;
  background-color: #203666;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  padding-left: 10px;
  position: fixed;
  cursor: pointer;
}

.arrow {
  background-color: transparent;
}

.divider {
  border-top: 2px solid #bbb;
  margin-bottom: -5px;
  padding-bottom: 0px;
  margin-top: -15px;
}

.movie-details-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #07203f;
}